body{
background-color: rgb(222, 183, 124);
border: dashed;
border-color:black;
border-radius:50px;
box-shadow: 1px 1px 20px rgb(32, 22, 22);
}

.inst{
    box-shadow:3px 3px 4.5px black;
    background-color: rgb(0, 255, 140);
    font-size: 14px;
}

footer{
    padding-top: 900px;
    font-size: 15px;
    font-weight:20px;
}

canvas{
    background-color: grey;
}

